In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
pd= pd.read_csv("customer.csv")

In [6]:
pd.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [11]:
#pd.sample(5)

In [14]:
df=pd.iloc[:,2:]

In [33]:
X=df.iloc[:,0:2]
X.head(4)

    review education
0  Average    School
1     Poor        UG
2     Good        PG
3     Good        PG

In [26]:
y=df.iloc[:,2:]

In [29]:
y.head(6)

  purchased
0        No
1        No
2        No
3        No
4        No
5       Yes

In [34]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [36]:
X_train.head(4)

   review education
46   Poor        PG
47   Good        PG
15   Poor        UG
9    Good        UG

In [52]:
from sklearn.preprocessing import OrdinalEncoder

In [53]:
oe = OrdinalEncoder(categories=[['Poor','Good','Average'],['School','UG','PG']])

In [54]:
oe.fit(X_train)

ValueError: could not convert string to float: 'Poor'

In [55]:
X_train = oe.transform(X_train)

IndexError: list index out of range

In [56]:
X_train

array([[0., 2.],
       [1., 2.],
       [0., 1.],
       [1., 1.],
       [0., 1.],
       [2., 2.],
       [2., 0.],
       [0., 0.],
       [2., 0.],
       [2., 1.],
       [0., 2.],
       [1., 2.],
       [2., 0.],
       [2., 1.],
       [1., 1.],
       [1., 1.],
       [0., 1.],
       [2., 2.],
       [1., 2.],
       [0., 2.],
       [0., 0.],
       [1., 0.],
       [1., 0.],
       [1., 1.],
       [0., 2.],
       [1., 0.],
       [1., 1.],
       [2., 0.],
       [0., 0.],
       [1., 2.],
       [0., 2.],
       [0., 0.],
       [1., 0.]])

In [64]:
oe.categories_

[]

In [63]:
X_train

array([[0., 2.],
       [1., 2.],
       [0., 1.],
       [1., 1.],
       [0., 1.],
       [2., 2.],
       [2., 0.],
       [0., 0.],
       [2., 0.],
       [2., 1.],
       [0., 2.],
       [1., 2.],
       [2., 0.],
       [2., 1.],
       [1., 1.],
       [1., 1.],
       [0., 1.],
       [2., 2.],
       [1., 2.],
       [0., 2.],
       [0., 0.],
       [1., 0.],
       [1., 0.],
       [1., 1.],
       [0., 2.],
       [1., 0.],
       [1., 1.],
       [2., 0.],
       [0., 0.],
       [1., 2.],
       [0., 2.],
       [0., 0.],
       [1., 0.]])

In [65]:
X_test = oe.transform(X_test)

C:\Users\praty\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but OrdinalEncoder was fitted without feature names
  warnings.warn(

IndexError: list index out of range